<h1>新規作成</h1>
<form name="main" method="POST" action="/board/createBoard">
	<div>
		タイトルと説明を記述してください。
	</div>
	<div>
		<div>
			タイトル
			<input type="text" name="title" value="無題"/>
		</div>
		<div>
			説明
			<textarea name="description">説明文</textarea>
		</div>
		<input type="submit" value="新規作成" />
	</div>
</form>