<script>
function home(){
  submit("/dashboard/index");
}

function back(){
  submit("/dashboard/index");
}

function save(){
  submit("/board/updateBoard");
}

function cancel(){
  submit("/dashboard/index");
}
</script>
<div class="container theme-showcase" role="main">
<form name="main" method="POST" >
<input type="hidden" name="id" value="<%= id %>"/>
    <div class="form-group">
      <label for="title">タイトル</label>
      <input class="form-control"  name="title" id="title" placeholder="ボードのタイトルを修正してください。" value="<%= title %>">
    </div>
   <div class="form-group">
      <label for="description">説明</label>
      <textarea class="form-control" rows="4" name="description" id="description" placeholder="ボードの説明を修正してください。"><%= description %></textarea>
    </div>
    <button type="submit" class="btn btn-default" onclick="return save()" >保存</button>
    <button type="submit" class="btn btn-default" onclick="cancel()"/>キャンセル</button>
  </div>
</form>
</div>