<h1ボード情報の更新</h1>
<script>
function save(){
  submit("/board/updateBoard");
}

function cancel(){
  submit("/dashboard/index");
}

function logout(){
    submit("/auth/logout");
}

function submit(action){
var form = document.forms.item(0);
form.action = action;
form.submit();
}

</script>
<form name="main" method="POST" >
<input type="hidden" name="id" value="<%= id %>"/>
	<div>
		タイトルと説明を修正してください。
	</div>
	<div>
		<div>
			タイトル
			<input type="text" name="title" value="<%= title %>"/>
		</div>
		<div>
			説明
			<textarea name="description"><%= description %></textarea>
		</div>
		<input type="button" value="保存" onclick="save()"/>
		<input type="button" value="キャンセル" onclick="cancel()"/>
		<input type="button" value="ログアウト" onclick="logout()"/>
	</div>
</form>