<script>
function logout(){
    submit("/auth/logout");
}

function openBoard(){
    submit("/dashboard/openBoard");
}

function openBoard2(){
    submit("/dashboard/openBoard2");
}

function editBoard(){
    submit("/dashboard/editBoard");
}

function deleteBoard(){
    if(confirm("削除します。よろしいですか？")){
	submit("/dashboard/deleteBoard");
    }
    return false; 
}

function createBoard(){
    submit("/dashboard/createBoard");
}

function userManage(){
    submit("/usermanage/index");
}
</script>
<div class="container theme-showcase" role="main">
<form name="main" method="POST">
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
   <select name="selectedId" class="form-control">
<% for( var i in list ) {%>
  <option value="<%= list[i].id %>"><%= list[i].title %></option>
<% } %>
</select>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作&nbsp;<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a onclick="openBoard2()">開く</a></li>
          <li><a onclick="editBoard()">編集</a></li>
          <li><a onclick="return deleteBoard()">削除</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
      <div class="well" style="margin-top:10px">ボードの説明を表示予定。</div>
  <button type="submit" class="btn btn-default" onclick="createBoard()" >新規作成</button><br><br>
  <button type="submit" class="btn btn-default" onclick="userManage()">ユーザー管理画面</button>

    </div> <!-- /container -->

<input type="hidden" name="loginUserId" value="<%= loginUserId %>"/>

</form>
