<script src="/js/dependencies/jquery-2.1.1.min.js"></script>
<script>

function openBoard(){
    submit("/dashboard/openBoard");
}

function openBoard2(){
    submit("/dashboard/openBoard2");
}

function editBoard(){
    submit("/dashboard/editBoard");
}

function deleteBoard(){
    if(confirm("削除します。よろしいですか？")){
	submit("/dashboard/deleteBoard");
    }
    return false; 
}

function createBoard(){
    submit("/dashboard/createBoard");
}

function logout(){
    submit("/auth/logout");
}

function userManage(){
    submit("/usermanage/index");
}

function submit(action){
    var form = document.forms.item(0);
    form.action = action;
    form.submit();
}

</script>
<h1>ダッシュボード</h1>
<div>
ログインユーザー:<%= loginUserId %><br>
<div>
<form name="main" method="POST">
<input type="hidden" name="loginUserId" value="<%= loginUserId %>"/>
<select name="selectedId">
<% for( var i in list ) {%>
  <option value="<%= list[i].id %>"><%= list[i].title %></option>
<% } %>
</select>
	<input type="button" onclick="openBoard()" value="開く" />
	<input type="button" onclick="openBoard2()" value="開く2" />
	<input type="button" onclick="editBoard()" value="編集" />
	<input type="button" onclick="return deleteBoard()" value="削除" />
<div>
<div>
	<input type="button" onclick="createBoard()" value="新規作成" />
	<input type="button" onclick="logout()" value="ログアウト" />
	<input type="button" onclick="userManage()" value="ユーザー管理画面" />
</form>
