<script>
  function home(){
    submit("/dashboard/index");
  }
  
  function back(){
    submit("/usermanage/index");
  }
  
  // ユーザー更新
  function updateUser(){
    if($('#username').val() == ''){
      alert('ユーザ名を入力してください。');
      return false;
    }
    if($('#nickname').val() == ''){
      alert('ニックネームを入力してください。');
      return false;
    }
    submit("/usermanage/updateUser");
  }
</script>
<div class="container theme-showcase" role="main">
<form method="POST">
<h3>ユーザー情報更新</h3>
 <div class="form-group">
    <label for="username">アカウント</label>
    <input class="form-control" name="username" id="username" placeholder="アカウントを入力" value="<%= username %>">
  </div>
  
   <div class="form-group">
    <label for="password">パスワード</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="パスワードを入力">
  </div>
  
   <div class="form-group">
    <label for="nickname">ユーザー名</label>
    <input class="form-control" name="nickname" id="nickname" placeholder="ユーザー名を入力" value="<%= nickname %>">
  </div>
  <button type="submit" class="btn btn-default" onclick="updateUser()" >更新</button>
  <button type="submit" class="btn btn-default" onclick="back()" >キャンセル</button>
  <input type="hidden" name="target" value="<%= target %>" />
</form>
</div>
