<script>
  function back(){
    submit("/usermanage/index");
  }
  
  function home(){
    submit("/dashboard/index");
  }
  
  // ユーザー作成
  function createUser(){
    console.log("createUser");
    if($('#username').val() == ''){
      alert('ユーザ名を入力してください。');
      return false;
    }
    if($('#password').val() == ''){
      alert('パスワードを入力してください。');
      return false;
    }
    if($('#nickname').val() == ''){
      alert('ニックネームを入力してください。');
      return false;
    }
    submit("/usermanage/createUser");
  };
</script>

<div class="container theme-showcase" role="main">
<form method="POST">
<h3>ユーザー作成</h3>
 <div class="form-group">
    <label for="username">アカウント</label>
    <input class="form-control" name="username" id="username" placeholder="アカウントを入力">
  </div>
  
   <div class="form-group">
    <label for="password">パスワード</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="パスワードを入力">
  </div>
  
   <div class="form-group">
    <label for="nickname">ユーザー名</label>
    <input class="form-control" name="nickname" id="nickname" placeholder="ユーザー名を入力">
  </div>
  <button type="submit" class="btn btn-default" onclick="createUser()" >新規作成</button>
  <button type="submit" class="btn btn-default" onclick="back()" >キャンセル</button>
</form>
</div>
