
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

<style>
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

</style>
</head>
  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://getbootstrap.com/examples/theme/#" tabindex=-1 >付箋アプリ</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://getbootstrap.com/examples/theme/#" tabindex=-1><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active"><a onclick="home()" tabindex=-1><span class="glyphicon glyphicon-circle-arrow-left"></span></a></li>
           <li class="navbar-text"><span class="glyphicon glyphicon-user">&nbsp;</span>ユーザ名</li>
            <li class="navbar-right" tabindex=-1><a href="http://getbootstrap.com/examples/theme/#about" tabindex=-1>ログアウト</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">
    <form role="form" action='/login' method='post'>
  <div class="form-group">
    <label for="exampleInputEmail1">アカウント</label>
    <input class="form-control" name="username" id="username" placeholder="アカウントを入力">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">パスワード</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="パスワードを入力">
  </div>
  <button type="submit" class="btn btn-default">ログイン</button>
</form>

    </div> <!-- /container -->
<script src="/js/jquery-2.1.1.min.js"></script>   
<script src="/js/bootstrap.min.js"></script>

