<form action='/login' method='post'>
    <div>
	<div>ユーザー名: <input type="text" name="username"/></div>
	<div>パスワード: <input type="text" name="password"/></div>
	<div><input type="submit" value='ログイン'/></div>
    </div>
</form>
