<script src="/js/jquery-2.1.1.min.js"></script>
<script>

	function home(){
		submit("/dashboard/index");
	}

	function back(){
		submit("/dashboard/index");
	}

</script>
<div style="padding-left:5%">
	<div>
		<h1>500 Internal Server Error</h1>
	</div>
	<div>
		<h2>Internal Server Error</h2>
		<p style="font-size:15pt;">
		<% if (typeof error!== 'undefined') { %>
		<%= error %>
		<% } else { %>
		システムエラーが発生しました。
		<% } %>
		</p>
	</div>
	<form name="main" method="POST" >
		<button type="submit" class="btn btn-default" onclick="home()">トップへ戻る</button>
	</form>
</div>
